$holder_width: 400px;

#sign-up {
  background-color: $color_lighten_5;
  display: flex;
  align-items: center;
  justify-content: center;
  .sign-up-form-holder {
    width: $holder_width;
    background-color: $color_white;
    box-shadow: 0px 0px 10px 1px $border_color;
    border-radius: $std_border;
    .logo {
      font-family: $logo_font;
      font-weight: bold;
      font-size: 2em;
      font-style: italic;
      text-align: center;
      margin: $ver_space * 2 0;
    }
    .sign-up-form {
      width: 80%;
      margin: auto;
      .btn {
        width: 100%;
        margin-bottom: $ver_space * 2;
        margin-top: $ver_space;
        height: 40px;
      }
    }
  }
}
