#task-submissions-block {
  .content-block-body {
    .user-avatar {
      margin: 0 $hor_space;
    }
    .submission-list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .material-icons {
      margin: 0 $hor_space;
    }
  }
  .task-submission-modal {
    .modal-container {
      width: 100%;
      height: 100%;
      .modal-header {
        background-color: $color_darken_4;
        height: $header_height;
        h2 {
          color: $color_white;
          font-weight: normal;
        }
        .material-icons {
          color: $color_white;
        }
      }
      .modal-body {
        background-color: $color_lighten_5;
        height: calc(100% - #{$header_height});
        width: 100%;
        overflow: hidden;
      }
    }
  }
}
