#tasks-screen {
  .tasks-list-view {
    .task-list-item {
      display: flex;
      align-items: center;
      padding: $ver_space $hor_space;
      border-bottom: 1px solid $border_color;
      .task-name {
        flex: 1;
        padding-left: $ver_space;
      }
      .task-cell {
        padding: 0 $hor_space;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
